<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Challenge D - Manipulation de trinômes</title>
      {% load static %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="{% static 'js/alert_.js' %}"></script>
   </head>
   <body>
      <!-- !!!!!!! BLOCK HEADER !!!!!!! -->
      <div class="jumbotron text-center" style="margin-bottom:0">
         <h1>My Django Site</h1>
         <p>IPSSI</p>
      </div>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
         <a class="navbar-brand" href="#">Chapitres</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
               {% for section in sections %}
               <li class="nav-item">
                  <a class="nav-link" href="{{section.href}}">{{section.title}}</a>
               </li>
               {% endfor %}
               <!-- Dropdown -->
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Section dd
                  </a>
                  <div class="dropdown-menu">
                     <a class="dropdown-item" href="#">DD 1</a>
                     <a class="dropdown-item" href="#">DD 2</a>
                     <a class="dropdown-item" href="#">DD 3</a>
                  </div>
               </li>
            </ul>
         </div>
      </nav>
      <!-- !!!!!!! BLOCK global_container !!!!!!! -->
      <div class="container" id="global_container">
         <div class="jumbotron text-center" id="jumbotron_first_size" style="margin-top:30px">
            <h1>A box</h1>
            <p class="tagline">A jumbotron !</p>
         </div>
         <div class="card justify-content-center ">
            <div class="card-header">
               <h5> A card </h5>
            </div>
            <div class="card-body">
               <blockquote class="blockquote mb-0">
                  <p>&#x2705; some items </p>
                  <p>&#x2705; some items </p>
                  <p><button class="btn btn-success" onclick="alert_()" type="submit"><i class="fa fa-plus icon"></i>Valider</button></p>
                  <p>&#x2705; some items </p>
                  <p>&#x2705; some items </p>
                  <footer class="blockquote-footer"><cite title="Source Title">Some text</cite></footer>
               </blockquote>
            </div>
         </div>
         <!-- CHALLENGE BLOCK  -->
         <div class="card" style="margin-top:30px">
            <div class="card-header">
               <h5>
               blablabla </p>
            </div>
            <!-- START ROW  -->
            <div class="row">
               <!-- COL FOR CHART  -->
               <div class="col-sm-6">
                  <div id="mychart">
                  </div>
               </div>
               <!-- COL FOR TEXT  -->
               <div class="col-sm-6 pt-5">
                  <!-- <blockquote class="blockquote mb-0">
                     <div class="card mr-4">
                        <div class="card-header">
                           <p> blablabla </p>
                           <p> blablabla </p>
                           <p> blablabla </p>
                           <p> blablabla </p>
                           <p> blablabla </p>
                           <p> blablabla </p>
                           <p> blablabla </p>
                           <p> blablabla </p>
                           <p> blablabla </p>
                           <p> blablabla </p>
                        </div>
                     </div>
                  </blockquote> -->
               </div>
            </div>
            <div text-align="center">

              <!-- END ROW  -->
              <script src="https://d3js.org/d3.v5.min.js"></script>
              <script src="{% static 'js/chart.js' %}"></script>
              <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
              <script>
                 $( document ).ready(function() {
                     console.log( "document loaded" );

                 });
                 $( window ).on( "load", function() {
                     console.log( "window loaded" );
                 });
              </script>
            </div>
         </div>
         <!-- END BLOCK CHALLENGE  -->
         <!-- {% if True %} -->
          <!-- <div class="modal-dialog" role="document">
             <div class="modal-content">
                <div class="modal-header">
                   <h5 class="modal-title">Modal title</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                   </button>
                </div>
                <div class="modal-body">
                   <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save changes</button>
                </div>
             </div>
          </div> -->
         <!-- {% endif %} -->
         <!-- START BLOCK ANSWER  -->
         <div class="card justify-content-center " style="margin-top:30px">
            <div class="card-header">
               <h5> Here comes the form </h5>
            </div>
            <div class="card-body">
               <blockquote class="blockquote mb-0">
                  <form action="" method="post">
                     {% csrf_token %} <!-- csrf token for basic security -->
                     <table class="table table-bordered table-striped text-center">
                        <thead>
                           <tr>
                              <th>Variable</th>
                              <th>Valeur</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>alpha</td>
                              <td>
                                 <div class="inputContainer">
                                    <label for="description"></label>
                                    <input type="text" id="description" class="input_answer_box" placeholder="..." name="alpha" required>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>beta</td>
                              <td>
                                 <div class="inputContainer">
                                    <label for="description"></label>
                                    <input type="text" id="description" class="input_answer_box" placeholder="..." name="beta" required>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>gamma</td>
                              <td>
                                 <div class="inputContainer">
                                    <label for="description"></label>
                                    <input type="text" id="description" class="input_answer_box" placeholder="..." name="gamma" required>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="row">
                        <button class="btn btn-success" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Valider</button>
                     </div>
                  </form>
               </blockquote>
            </div>
         </div>
         <!-- END BLOCK ANSWER  -->
         <!-- START BLOCK HINTS  -->
         <div class="card justify-content-center " style="margin-top:30px">
            <div class="card-header">
               <h5> ABCDEF  </h5>
            </div>
            <div class="card-body">
               <blockquote class="blockquote mb-0">
                  <a href="#Foo3" class="btn btn-success" data-toggle="collapse"> 1232 </a>
                  <div id="Foo3" class="collapse">
                    <p> OK a</p>
                  </div>
                  <a href="#Foo4" class="btn btn-warning" data-toggle="collapse"> 1233 </a>
                  <div id="Foo4" class="collapse">
                    <p> OK b</p>
                  </div>
                  <a href="#Foo1" class="btn btn-danger" data-toggle="collapse"> 1234 </a>
                  <div id="Foo1" class="collapse">
                    <p> OK c</p>
                     <footer class="blockquote-footer"><cite title="Source Title">AZERAZER</cite></footer>
                  </div>
               </blockquote>
            </div>
         </div>
         <!-- END BLOCK HINTS  -->
         <!-- FOOTER  -->
         <div class="jumbotron text-center" style="margin-bottom:0;margin-top:30px">
            <p>Footer</p>
         </div>
      </div>
      <!-- END global_container  -->
   </body>
</html>
